<!Doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" content-type="text/html">
        <title>Forum</title> 
        <link href="/assets/static/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
        <!--HEADER-->
        <header>
            <div class="container container-xlarge">
                <div class="logo">
                    <h2><a href="/">Cyborum</a></h2>
                </div>
                <nav class="nav-header">
                    <ul class="menu">
                        <li class="menu-item"><a href="home">Home</a></li>
                        <li class="menu-item"><a href="forumin">Forum</a></li>
                        <li class="menu-item"><a href="teamin">Team</a></li>
                    </ul>
                    <ul class="menu menu-social">
                        <li class="menu-item"><a href="/users"><span class="material-symbols-outlined">
                            account_circle
                            </span></a></li>
                        <li class="menu-item"><a href="login"><span class="material-symbols-outlined">
                            logout
                            </span></a></form></li>
                    </ul>
                </nav>                
            </div>
        </header>

        <!--SECTION CONTENT-->
        <section id="Content">

            <!--SECTION FORM-->
            <section class="content-page section-border-bottom">
                <div class="container container-xlarge">
                    <div class="mid-width">
                        <h2>Nouvelle inscription</h2>
                        <form action="/" method="post" class="register-form">
                            <input type="text" name="name" placeholder="Entrez un pseudo" required>
                            <input type="email" name="email" placeholder="Entrez votre email" required>
                            <input type="password" name="password" placeholder="Entrez un mot de passe" required>
                            <button type="submit">Valider</button>
                        </form>
                    </div>
                    <div class="mid-width">
                        <h2>Inscrivez-vous</h2>
                        <p>Pour vous enregistrer au forum, remplissez le formulaire en enregistrant vos informations</p>
                        <p>Vous avez déjà un compte <a href="login" class="link">connectez-vous</a></p>
                        <!--<form action="/confirmation.html" method="post" class="login-form">
                            <input type="text" name="name" placeholder="Entrez un pseudo">
                            <input type="password" name="password" placeholder="Entrez un mot de passe">
                            <button type="submit">Valider</button>
                        </form>-->
                    </div>
                </div>
            </section>
            <!--END SECTION FORM-->

            <!-- SECTION ICON -->
            <section class="content-page section-border-bottom">
                <div class="container container-icon">
                    <div class="block-content">
                        <h2>Comment ça marche</h2>
                    </div>

                    <!-- ICON BOX 1 -->
                    <div class="icon-box">
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                lock_open
                            </span>
                        </div>
                        <div class="box-content">
                            <h3 class="icon-title">Connexion</h3>
                            <p class="icon-desc">Inscrivez-vous ou connectez vous avec vos identifiants</p>
                        </div>
                    </div>

                    <!-- ICON BOX 2 -->
                    <div class="icon-box">
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </div>
                        <div class="box-content">
                            <h3 class="icon-title">Creation</h3>
                            <p class="icon-desc">Créez votre post, écrivez toutes vos pensées</p>
                        </div>
                    </div>

                    <!-- ICON BOX 1 -->
                    <div class="icon-box">
                        <div class="icon">
                            <span class="material-symbols-outlined">
                                rocket_launch
                            </span>
                        </div>
                        <div class="box-content">
                            <h3 class="icon-title">Publication</h3>
                            <p class="icon-desc">Publiez votre post, partagez vos idées avec la communauté</p>
                        </div>
                    </div>

                </div>
            </section>
            <!--END SECTION ICON-->

            <!--SECTION POST-->
            <section class="">

            </section>

            <!--END CONTENT-->
        </section>

        <!--FOOTER-->
        <footer>
            <div class="container container-xlarge">
                <div class="logo">
                    <h2>Cyborum</h2>
                </div>
                <nav class="nav-footer">
                    <ul class="menu menu1">
                        <li class="menu-item"><a href="/">Home</a></li>
                        <li class="menu-item"><a href="/forum">Forum</a></li>
                        <li class="menu-item"><a href="/users">Profile</a></li>
                        <li class="menu-item"><a href="/login">Login</a></li>
                    </ul>

                    <ul class="menu menu2">
                        <li class="menu-item">Register</li>
                        <li class="menu-item"><a href="/team">Team</a></li>
                        <li class="menu-item">Confidentialité</li>
                        <li class="menu-item">Cookie</li>
                    </ul>
                </nav>
            </div>
            <div class="copyright">© 2023 | Cyborum | Conception : Jordan B - Lucas D - Louis V - Come L - Louis P </div>
        </footer>
    </body>
</html>