<!Doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" content-type="text/html">
        <title>Forum</title> 
        <link href="/assets/static/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>
    <body>
        <!--HEADER-->
        <header>
            <div class="container container-xlarge">
                <div class="logo">
                    <h2><a href="/">Cyborum</a></h2>
                </div>
                <nav class="nav-header">
                    <ul class="menu">
                        <li class="menu-item"><a href="/">Home</a></li>
                        <li class="menu-item"><a href="forum">Forum</a></li>
                        <li class="menu-item"><a href="team">Team</a></li>
                    </ul>
                    <ul class="menu menu-social">
                        <li class="menu-item"><a href="#"><span class="material-symbols-outlined">
                            account_circle
                            </span></a></li>
                        <li class="menu-item"><a href="login"><span class="material-symbols-outlined">
                            login
                            </span></a></li>
                    </ul>
                </nav>                
            </div>
        </header>

        <!--SECTION CONTENT-->
        <section id="Content">

            <!--SECTION TEAM-->
            <section class="content-page section-border-bottom">
                
                <div class="container container-team">
                    <h1>Notre Team</h1>
                    <!--TEAM 1-->
                    <div class="team">
                        <div class="team-img">
                            <img src="/assets/img/AdobeStock_645275048_Preview.jpeg"/>
                        </div>
                        <div class="team-content">
                            <h2 class="title">Jordan Boitrelle</h2>
                            <p class="desc">Chef de projet<br/>Dev Front-End & Back-End</p>
                        </div>
                    </div>
                    
                    <!--TEAM 2-->
                    <div class="team">
                        <div class="team-img">
                            <img src="/assets/img/AdobeStock_645275066_Preview.jpeg"/>
                        </div>
                        <div class="team-content">
                            <h2 class="title">Lucas Dagieux</h2>
                            <p class="desc">Assistant Café<br/>Dev Back-End - Full Stack</p>
                        </div>
                    </div>

                    <!--TEAM 3-->
                    <div class="team">
                        <div class="team-img">
                            <img src="/assets/img/AdobeStock_645275013_Preview.jpeg"/>
                        </div>
                        <div class="team-content">
                            <h2 class="title">Louis Velard</h2>
                            <p class="desc">RG - Responsable Garderie<br/>Dev Back-End - Full Stack</p>
                        </div>
                    </div>

                    <!--TEAM 4-->
                    <div class="team">
                        <div class="team-img">
                            <img src="/assets/img/AdobeStock_645275028_Preview.jpeg"/>
                        </div>
                        <div class="team-content">
                            <h2 class="title">Come Lafory</h2>
                            <p class="desc">RH - Responsable Horaire<br/>Dev Back-End - Full Stack</p>
                        </div>
                    </div>

                    <!--TEAM 5-->
                    <div class="team">
                        <div class="team-img">
                            <img src="/assets/img/AdobeStock_645275061_Preview.jpeg"/>
                        </div>
                        <div class="team-content">
                            <h2 class="title">Louis Pleintel</h2>
                            <p class="desc">RC - Responsable Communication<br/>Dev Back-End - Full Stack</p>
                        </div>
                    </div>


                </div>
            </section>

            <!--END CONTENT-->
        </section>

        <!--FOOTER-->
        <footer>
            <div class="container container-xlarge">
                <div class="logo">
                    <h2>Cyborum</h2>
                </div>
                <nav class="nav-footer">
                    <ul class="menu menu1">
                        <li class="menu-item"><a href="/">Home</a></li>
                        <li class="menu-item"><a href="/forum">Forum</a></li>
                        <li class="menu-item"><a href="#">Profile</a></li>
                        <li class="menu-item"><a href="/login">Login</a></li>
                    </ul>

                    <ul class="menu menu2">
                        <li class="menu-item"><a href="/">Register</a></li>
                        <li class="menu-item"><a href="/team">Team</a></li>
                        <li class="menu-item">Confidentialité</li>
                        <li class="menu-item">Cookie</li>
                    </ul>
                </nav>
            </div>
            <div class="copyright">© 2023 | Cyborum | Conception : Jordan B - Lucas D - Louis V - Come L - Louis P </div>
        </footer>
    </body>
</html>