<!Doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8" content-type="text/html">
    <title>Forum</title>
    <link href="/assets/static/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body class="page-forum">
    <!--HEADER-->
    <header>
        <div class="container container-xlarge">
            <div class="logo">
                <h2><a href="/">Cyborum</a></h2>
            </div>
            <nav class="nav-header">
                <ul class="menu">
                    <li class="menu-item"><a href="/">Home</a></li>
                    <li class="menu-item"><a href="forum">Forum</a></li>
                    <li class="menu-item"><a href="team">Team</a></li>
                </ul>
                <ul class="menu menu-social">
                    <li class="menu-item"><a href="#"><span class="material-symbols-outlined">
                                account_circle
                            </span></a></li>
                    <li class="menu-item"><a href="login"><span class="material-symbols-outlined">
                                login
                            </span></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!--SECTION CONTENT-->
    <section id="Content">

        <!--SECTION FORUM-->
        <section class="content-page section-border-bottom">
            <div class="container">

                <!--FORUM-->
                <div class="forum">

                    <!--FORUM CONTENT-->
                    <div class="forum-content">

                        <!--MESSAGE-->
                        {{range .}}
                        <div class="forum-msg">
                            <div class="forum-msg-header">
                                <p class="auteur">{{.UserName}}</p>
                                <p class="date"> {{.Date}}</p>
                                <div class="categories">
                                    {{range .Category}}
                                    <p class="category cat-mangas">{{.}}</p>
                                    {{end}}
                                </div>
                            </div>
                            <div class="forum-msg-content">
                                <p class="msg">{{.Content}}</p>
                            </div>
                            <div class="forum-msg-footer">
                                <div class="like">
                                    <span class="material-symbols-outlined">
                                        thumb_up
                                    </span>
                                    <span class="count">{{.Like}}</span>
                                </div>
                                <div class="dislike">
                                    <span class="material-symbols-outlined">
                                        thumb_down
                                    </span>
                                    <span class="count">{{.Dislike}}</span>
                                </div>
                                <div class="comment">
                                    <span class="material-symbols-outlined">
                                        mode_comment
                                    </span>
                                    <span class="count">{{.CommentNum}}</span>
                                </div>
                                <div class="comment-list">
                                    {{range .Comment}}
                                    <div class="comment-msg-header">
                                        <p class="comment-msg">{{.UserName}}</p>
                                        <p class="comment-msg">{{.Date}}</p>
                                    </div>
                                    <div class="comment-msg-content">
                                        <p class="comment-msg">{{.Content}}</p>
                                    </div>
                                    <div class="comment-msg-footer">
                                        <div class="like">

                                            <button type="submit" name="postId" value="{{.Id}}">
                                                <span class="material-symbols-outlined">
                                                    thumb_up
                                                </span>
                                            </button>
                                            <span class="count">{{.Like}}</span>

                                        </div>
                                        <div class="dislike">

                                            <button type="submit" name="postId" value="{{.Id}}">
                                                <span class="material-symbols-outlined">
                                                    thumb_down
                                                </span>
                                            </button>
                                            <span class="count">{{.Dislike}}</span>

                                        </div>
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                        {{end}}

                        <!--END CONTENT-->
                    </div>

                    <!--END FORUM-->
                </div>

            </div>
            <!--END SECTION FORUM-->
        </section>

        <!--BTN EDIT POST-->


        <!--END CONTENT-->
    </section>
    <!--FOOTER-->
    <footer>
        <div class="container container-xlarge">
            <div class="logo">
                <h2>Cyborum</h2>
            </div>
            <nav class="nav-footer">
                <ul class="menu menu1">
                    <li class="menu-item"><a href="/">Home</a></li>
                    <li class="menu-item"><a href="/forum">Forum</a></li>
                    <li class="menu-item"><a href="#">Profile</a></li>
                    <li class="menu-item"><a href="/login">Login</a></li>
                </ul>

                <ul class="menu menu2">
                    <li class="menu-item"><a href="/">Register</a></li>
                    <li class="menu-item"><a href="/team">Team</a></li>
                    <li class="menu-item">Confidentialité</li>
                    <li class="menu-item">Cookie</li>
                </ul>
            </nav>
        </div>
        <div class="copyright">© 2023 | Cyborum | Conception : Jordan B - Lucas D - Louis V - Come L - Louis P </div>
    </footer>
</body>

</html>